@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffd7a6;
}

::-webkit-scrollbar {
  width: 0px;
}

.battelground-gradient {
  background: -webkit-linear-gradient(90deg, #fffc00 0%, #ff8d00 69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.royal-gradient {
  background: -webkit-linear-gradient(60deg, #cf0000 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgmi_tournament {
  background-image: url("../assets/tournament-assets/bgmi/bgmi_bg.webp");
}

.live-dot-animation {
  animation: dot-animation 0.6s alternate infinite;
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-open {
  display: block;
  transition: all 0.3s ease-in-out;
}

.section-close {
  display: none;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.193);
}

.board {
  background-image: url("../assets/backdrop/board.png");
}


.btn_active {
  color:#000000;
  font-weight: 700;
  background-color: #ffd036;
  transition-duration: 0.5s;
}

.btn_deactive {
  color: white;
  background-color: #000000;
  transition-duration: 0.5s;

}


.active-div {
  display: block;
}

.deactive-div {
  display: none;
}